body {
    background-color: rgb(171, 211, 208) !important;
}

#toDotitle img{
    width: 30px;
    height: 30px;
}

#toDotitle {
    color: rgb(2, 29, 23);
    font-family: Philosopher;
}

input.done {
    background: #c2c2c2;
    color: white;
}